/* Variables */
:root
{
	/* Core */
	--non-selected: rgb(231, 240, 247);
	--selected: rgb(144, 238, 144);
	--error: rgb(255, 77, 77);

	/* Extra colors (for testing) */

	--red: rgb(255, 77, 77);
	--green: rgb(144, 238, 144);
	--blue: rgb(77, 77, 255);
	--yellow: rgb(196, 196, 47);
	--orange: rgb(230, 130, 47);
}

/* Reset */

html, body
{
	padding: 0;
	margin: 0;
	border: 0;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	overflow: hidden;
	background-color: var(--non-selected);
	
	width: 100%;
	height: 100%;
}

body
{
	font-family: "Times New Roman", Times, serif;
	font-size: 130%;
}

#root
{
	width: 100%;
	height: 100%;
}

/* Spinner */
/* Shamelessly stolen from Bootstrap: https://getbootstrap.com/ */

@keyframes spinner
{
	to
	{
		transform: rotate(360deg);
	}
}

.spinner
{
    display: inline-block;
    width: 6rem;
    height: 6rem;
    vertical-align: text-bottom;
    border: .25em solid lightgreen;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}

/* Colors */

.non-selected
{
	background-color: var(--non-selected);
}

.selected
{
	background-color: var(--selected);
}

.error
{
	background-color: var(--error);
}

.interactive
{
	background-color: var(--interactive);
}

/* Scroll bar trickery */

.scroll-hover:not(:hover)
{
	scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	scrollbar-base-color: rgba(0, 0, 0, 0);
}

.scroll-hover:not(:hover)::-webkit-scrollbar
{
	opacity: 0;
}

/* Scores */

.badge
{
	background-color: rgb(135, 206, 250);
	border-radius: 0.2em;
	font-size: 1.15em;
	padding: 0 0.3em;
	margin-right: 0.2em;
}

.badge-button:hover
{
	background-color: rgb(84, 185, 248);
}

.dropdown
{
	position: relative;
}

.dropdown-content
{
	position: absolute;
	display: none;

	transform: translate(-20%, 0%);

	background-color: #f1f1f1;
	border: 1px solid lightgray;
	border-radius: 0.2em;

	overflow: auto;

	padding: 0.1em;
	margin-top: 0.1em;

	z-index: 1000;
}

.dropdown-center
{
	transform: translate(-40%, 0%);
}

.dropdown-show
{
	display: block;
}