@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
	--not-selected: rgb(231, 240, 247);
	--selected: rgb(113, 234, 113);

	--dim-selected: rgb(67, 136, 67);
	--dim-not-selected: rgb(111, 115, 118);

	--error: rgb(255, 77, 77);
}

#root
{
	width: 100%;
	height: 100%;
}

html, body
{
    background-color: var(--not-selected);

    width: 100%;
	height: 100%;
	
	overflow: hidden;

	margin: 0;
	padding: 0;

	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

body
{
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

/* Scrollbar */

.simplebar-hover.simplebar-scrollbar::before, .simplebar-dragging > .simplebar-vertical > .simplebar-scrollbar::before
{
	background-color: #3daee9;
}

/* Draggable */

div[role="button"][aria-roledescription="draggable"]
{
    cursor: default;
}

/* Import and Export */

.hidden
{
	position: fixed;
	top: -1000em;
}