/* Display */

.block
{
    display: block;
}

.inline-block
{
    display: inline-block;
}

.flex
{
    display: flex;
}

/* Flexbox */

.flex-column
{
    flex-direction: column;
}

.justify-content-center
{
    justify-content: center;
}

.align-items-center
{
    align-items: center;
}

.flex-1
{
    flex: 1 1 0;
}
.flex-2
{
    flex: 2 2 0;
}

/* Size */

.mh-0
{
    min-height: 0;
}

.h-100
{
    height: 100%;
}

.w-100
{
    width: 100%;
}

/* Border */

.border-r-1
{
    border-right: 1px solid black;
}

.border-b-1
{
    border-bottom: 1px solid black;
}

.border-r-0-1
{
    border-radius: 0.1em;
}

/* Margin */

.mt-0-5
{
    margin-top: 0.5em;
}

.mb-0-1
{
    margin-bottom: 0.1em;
}

.mb-1-3
{
    margin-bottom: 1.3em;
}

.mb-1
{
    margin-bottom: 1em;
}

/* Padding */

.pt-0-5
{
    padding-top: 0.5em;
}

.pb-0-2
{
    padding-bottom: 0.2em;
}

/* Overflow */

.overflow-hidden
{
    overflow: hidden;
}

.overflow-y-scroll
{
    overflow-y: scroll;
}

/* Text */

.text-center
{
    text-align: center;
}

.td-none
{
    text-decoration: none;
}

/* Cursor */

.cursor-pointer
{
    cursor: pointer;
}

/* Background */

.bg-dark-gray
{
    background-color: rgb(100, 100, 100);
}